## Project Title: Predicting Heart Attack Probability
## Notebook Title: Extract Transform Load (ETL)

### Step 1: Download Data Set from Kaggle and convert to Pandas Data Frame

In [1]:

import types
import pandas as pd
from botocore.client import Config
import ibm_boto3

def __iter__(self): return 0

# @hidden_cell
df_data_1 = pd.read_csv(body)
df_data_1.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

### Step 2: Remove Rows that Have Missing Values To Clean Data and Remove Any Duplicate Rows

In [18]:
dfPandas = df_data_1
dfPandas.dropna(axis=0,inplace=True)

In [19]:
dfPandas = dfPandas.drop_duplicates()

In [20]:
dfPandas.shape

(302, 14)

### Step 3: Normalize Data in Age, Resting BP, Cholesterol and Thalach Column

In [21]:
from scipy.stats import *

In [22]:
aList = [0,3,4,7]

In [23]:
for x in aList:
    dfPandas.iloc[:,x] = (dfPandas.iloc[:,x]- dfPandas.iloc[:,x].mean())/dfPandas.iloc[:,x].std()

In [24]:
dfPandas.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,0.948220,1,3,0.762800,-0.260852,1,0,0.018795,0,2.3,0,0,1,1
1,-1.925352,1,2,-0.091249,0.067628,0,1,1.634266,0,3.5,0,0,2,1
2,-1.483264,0,1,-0.091249,-0.821201,0,0,0.979345,0,1.4,2,0,2,1
3,0.174566,1,1,-0.660615,-0.202885,0,1,1.241314,0,0.8,2,0,2,1
4,0.285088,0,0,-0.660615,2.077155,0,1,0.586393,1,0.6,2,0,2,1

In [25]:
dfPandas.shape

(302, 14)

In [26]:
dfPandas.dtypes

age         float64
sex           int64
cp            int64
trestbps    float64
chol        float64
fbs           int64
restecg       int64
thalach     float64
exang         int64
oldpeak     float64
slope         int64
ca            int64
thal          int64
target        int64
dtype: object